body{
    width: 50%;
    margin: auto;
}

#tabla{
    width: 100%;
    text-align: center;
}
.ancho>th, td{
    border: 1px solid darkgray;
}
.botoncito{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 1em;
    border-top: 1px solid #cccccc;
    margin-bottom: 1em;
    padding-top: 1em;
}
.parrafo{
    width: 20em;
    margin: 1em auto;
} 

.Formulario{      
    background: #82e2ff;
    border-radius: 12px 12px 12px 12px;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
border: 0px solid #000000;
}